body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #424242;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #48CFCB;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    padding: 20px;
}

h1 {
    color: #229799;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

#add-btn {
    background-color: #229799;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #48CFCB;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    color: #424242;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #229799;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #48CFCB;
}
